.git
.github
.gitignore
.dockerignore
.env
.env.*
venv/
.venv/
**/__pycache__
**/*.pyc
**/.DS_Store
staticfiles/
media/
db.sqlite3
infra/
docs/
*.sql
*.csv
*.pdf
local_backup.json
cert.*
email.txt
stripe.txt
check_heroku_db.py
test_heroku_db.py
Deploy_Steps.txt
DEPLOYMENT_GUIDE.md
Procfile
runtime.txt
requirements_simple.txt
sample.jpeg
pdfs/
