{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <style>
        body {
            padding-bottom: 130px; /* Adjust this value based on your footer height */
        }
        .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 120px; /* Adjust height as necessary */
            background-color: #333;
            color: white;
            text-align: center;
            padding-top: 20px; /* Padding for content inside footer */
        }
    </style>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-fixed-top navbar-dark bg-purple">
        <a class="navbar-brand" href="{% url 'home' %}" style="font-size:22px;">FGEN</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="{% if active_page == 'home' %}active{% endif %} nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active_page == 'about' %}active{% endif %}" href="{% url 'about_us' %}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active_page == 'contact' %}active{% endif %}" href="{% url 'contact_us' %}">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active_page == 'programs' %}active{% endif %}" href="{% url 'programs' %}">Programs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active_page == 'getinvolved' %}active{% endif %}" href="{% url 'get_involved' %}">Get Involved</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active_page == 'events' %}active{% endif %}" href="{% url 'events' %}">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active_page == 'resources' %}active{% endif %}" href="{% url 'resources' %}">Resources</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
                {% comment %} <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li> {% endcomment %}
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    
    <!-- Main Content -->
    <div class="star-background"></div>
    <div class="container main-content">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="footer">
        <div class="container text-center">
            <div class="social-icons mb-3">
                <a href="#" class="social-icon"><i class="fab fa-instagram" style="font-size:28px;"></i></a>&nbsp;&nbsp;
                <a href="#" class="social-icon"><i class="fab fa-facebook" style="font-size:28px;"></i></a>&nbsp;&nbsp;
                <a href="#" class="social-icon"><i class="fab fa-twitter" style="font-size:28px;"></i></a>&nbsp;&nbsp;
            </div>

            <p>&copy; {% now "Y" %} Your Company. All rights reserved.</p>
        </div>
    </footer>

    <!-- Bootstrap and other JS scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'assets/js/star.js' %}"></script>
</body>
</html>
