{% extends 'base.html' %}

{% block title %}Thank You{% endblock %}

{% block content %}
<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4 col-sm-12">
            <div class="card card-custom program-card shadow-lg">
                <div class="card-body">
                    <h5 class="card-title">Thank You!</h5>
                    <p class="card-text">Your message has been successfully sent. We will get back to you soon.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
