{% extends 'base.html' %}
{% load static%}
{% block title %}Contact Us{% endblock %}

{% block content %}
<div class="container container-flex mt-5 mb-5 justify-content-center">
    <div class="card px-1 py-4">
        <div class="card-body">
           <h2 class="card-title justify-content-center">Contact us to know more...!</h2>
            <form id="contact" action="{% url 'contact_us' %}" method="post">
                {% csrf_token %}
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <input name="name" class="form-control" type="text" placeholder="Name">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <div class="input-group">
                            <input name="email" class="form-control" type="text" placeholder="Email ID">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="id_subject">Subject</label>
                        <select name="subject" class="form-control" id="id_subject">
                            <option value="">-- Select a subject --</option>
                            <option value="administration">Administration</option>
                            <option value="media_communications">Media &amp; Communications</option>
                            <option value="technical_production">Technical &amp; Production</option>
                            <option value="hospitality_logistics">Hospitality &amp; Logistics</option>
                            <option value="ministry_spiritual_support">Ministry &amp; Spiritual Support</option>
                            <option value="event_day_support">Event Day Support</option>
                            <option value="dancers">Dancers</option>
                            <option value="others">Others</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" id="other_subject_row" style="display:none;">
                <div class="col-sm-12">
                    <div class="form-group">
                        <input name="other_subject" id="id_other_subject" class="form-control" type="text" placeholder="Please specify...">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <textarea class="form-control" id="message" name="message" rows="5" cols="5" placeholder="Enter your message" required></textarea>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary btn-block confirm-button">Submit</button>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById('id_subject').addEventListener('change', function () {
        var otherRow = document.getElementById('other_subject_row');
        var otherInput = document.getElementById('id_other_subject');
        if (this.value === 'others') {
            otherRow.style.display = '';
            otherInput.required = true;
        } else {
            otherRow.style.display = 'none';
            otherInput.required = false;
            otherInput.value = '';
        }
    });
</script>
{% endblock %}
