{% extends 'base.html' %}
{% load static%}
{% block title %}Contact Us{% endblock %}

{% block content %}
<div class="container container-flex mt-5 mb-5 justify-content-center">
    <div class="card px-1 py-4">
        <div class="card-body">
           <h2 class="card-title justify-content-center">Contact us to know more...!</h2>
            {% comment %} <div class="d-flex flex-row"> <label class="radio mr-1"> <input type="radio" name="add" value="anz" checked> <span> <i class="fa fa-user"></i> Anz CMK </span> </label> <label class="radio"> <input type="radio" name="add" value="add"> <span> <i class="fa fa-plus-circle"></i> Add </span> </label> </div>
            <h6 class="information mt-4">Please provide following information about Anz CMK</h6>  {% endcomment %}
            <form id="contact" action="{% url 'contact_us' %}" method="post">
                {% csrf_token %}
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <!-- <label for="name">Name</label> --> <input name="name" class="form-control" type="text" placeholder="Name"> </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <div class="input-group"> <input name="email" class="form-control" type="text" placeholder="Email ID"> </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <textarea class="form-control" id="message" name="message" rows="5" cols="5" placeholder="Enter your message" required></textarea>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary btn-block confirm-button">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}