{% extends 'base.html' %}
{% load static%}
{% block title %}Events{% endblock %}

{% block content %}
<div class="container mt-5 text-white">
    <h2>Upcoming Events</h2>
    {% if upcoming_events %}
        <div class="list-group">
            {% for event in upcoming_events %}
                <a href="#" class="list-group-item list-group-item-action">
                    <h5 class="mb-1">{{ event.title }}</h5>
                    <p class="mb-1">{{ event.description }}</p>
                    <small>{{ event.location }} | {{ event.event_date }}</small>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p>No upcoming events.</p>
    {% endif %}

    <h2 class="mt-5">Past Events</h2>
    {% if past_events %}
        <div class="list-group">
            {% for event in past_events %}
                <a href="#" class="list-group-item list-group-item-action">
                    <h5 class="mb-1">{{ event.title }}</h5>
                    <p class="mb-1">{{ event.description }}</p>
                    <small>{{ event.location }} | {{ event.event_date }}</small>
                </a>
                &nbsp;
            {% endfor %}
        </div>
    {% else %}
        <p>No past events.</p>
    {% endif %}
</div>

{% endblock %}