{% extends 'base.html' %}
{% load static %}
{% block title %}Get Involved{% endblock %}

{% block content %}
  <style>

    {% comment %} h2, h3 {
      color: #f8f9fa; /* Slightly lighter white for headings */
    } {% endcomment %}
    .container {
      background-color: #444; /* Slightly lighter background for the container */
      border-radius: 15px;
      margin-top:30px;
      margin-bottom:30px;
      padding:30px;
    }
    .btn-primary {
      background-color: #007bff;
      border-color: #007bff;
    }
    .btn-success {
      background-color: #28a745;
      border-color: #28a745;
    }
  </style>

  <!-- Partnerships Section -->
   <div class="container">
    <div class="row text-white">
      <div class="col-md-12">
        <h2 class="text-white">Partnerships</h2>
        <p>Do you want to partner with FGEN? Information on how to partner with FGEN.</p>
        <h3>Benefits of Partnership</h3>
        <ul>
          <li>Benefit 1</li>
          <li>Benefit 2</li>
          <li>Benefit 3</li>
        </ul>
      </div>
    </div>

  <!-- Donate Section -->
    <div class="row text-white">
      <div class="col-md-12">
        <h2>Donate</h2>
        <p>Various donation options (one-time, recurring, sponsorship)</p>
        <h3>Secure Online Donation Form</h3>
        <form>
          <div class="form-group">
            <label for="donationAmount">Donation Amount:</label>
            <input type="number" class="form-control" id="donationAmount">
          </div>
          <div class="form-group">
            <label for="donationType">Donation Type:</label>
            <select class="form-control" id="donationType">
              <option>One-time</option>
              <option>Recurring</option>
              <option>Sponsorship</option>
            </select>
          </div>
          <button type="submit" class="btn btn-success">Donate</button>
        </form>
        <h3>Impact of Donations</h3>
        <p>Impact of donations explained with examples</p>
        <ul>
          <li>Example 1</li>
          <li>Example 2</li>
          <li>Example 3</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
