{% extends 'base.html' %}
{% load static %}
{% block title %}Get Involved{% endblock %}

{% block content %}

  <!-- Partnerships Section -->
   <br><br>
   <div class="container container-getinvolved">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-12">
          <h2 class="text-center text-white">PARTNERSHIPS</h2>
          <p class="text-center text-white"> If you would like to partner with FGEN in any way, please contact <span style="color:gold;font-weight:bold;font-size:20px">info@Fgen.ca</span>. Thank you for your consideration of partnering with us!</p>
          <h3 class="text-center text-white">Benefits of Partnership</h3>
          <ul class="benefits-list">
              {% for b in benefit_data %}
                  <li class="benefit-item">{{ b.description_text }}</li>
              {% endfor %}
          </ul>
      </div>
  </div>

  <!-- Donate Section -->
    {% comment %} <div class="row text-white">
      <div class="col-md-12 col-sm-12 col-lg-12">
        <h2>Donate</h2>
        <p>Various donation options (one-time, recurring, sponsorship)</p>
        <h3>Secure Online Donation Form</h3>
        <form enctype="multipart/form-data" method="post" action="{% url 'get_involved' %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="donationAmount">Donation Amount:</label>
            <input type="number" class="form-control" id="donationAmount" name="donation_amount">
          </div>
          <div class="form-group">
            <label for="donationType">Donation Type:</label>
            <select class="form-control" id="donationType" name="donation_type">
              <option value="one_time">One-time</option>
              <option value="recurring">Recurring</option>
              <option value="sponsorship">Sponsorship</option>
            </select>
          </div>
          <div class="form-group">
            <label for="email">Email Address:</label>
            <input type="email" class="form-control" id="email" name="email">
          </div>
          <button type="submit" class="btn btn-success btn-success-getinvolved">Donate</button>
        </form>
      </div>
    </div> {% endcomment %}
    {% comment %} <div class="row text-black">
      <div class="col-md-12 col-sm-12 col-lg-12">
        <div class="card impact-card">
          <div class="card-header impact-style">
              <h4>Impact of Donations</h4>
          </div>
          <div class="card-body text-black">
              {% for i in impact_data %}
              <div class="example mt-3">
                  <p> - {{i.description_text}}</p>
              </div>
              {% endfor %}
          </div>
      </div>
      </div>
    </div> {% endcomment %}
  </div>
</div>
{% endblock %}

{% block extra_js %}
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
