{% extends 'base.html' %}
{% load static%}
{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <div class="container-fluid" style="margin-top:60px;">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="jumbotron bg-white text-center">
                    <h3>{{ page_title }}</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-12 col-lg-6 mb-4">
                <div class="card program-card h-100">
                    <div class="card-header program-card-style">
                        <h4 class="card-title">{{ card1_title }}</h4>
                    </div>
                    <div class="card-body text-justify">
                        {{ card1_body|safe }}
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-6 mb-4">
                <div class="card program-card h-100">
                    <div class="card-header program-card-style">
                        <h4 class="card-title">{{ card2_title }}</h4>
                    </div>
                    <div class="card-body text-justify">
                        {{ card2_body|safe }}
                    </div>
                </div>
            </div>
        </div>

        {% if booking_form %}
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 mb-4">
                <div class="card program-card h-100">
                    <div class="card-header program-card-style">
                        <h4 class="card-title">{{ booking_form.title }}</h4>
                    </div>
                    <div class="card-body text-center">
                        <a href="{{ booking_form.form_url }}" target="_blank" rel="noopener noreferrer" class="btn btn-primary btn-lg mb-3">Book a School Presentation</a>
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="{{ booking_form.form_url }}" style="width:100%; min-height:600px; border:0;" title="{{ booking_form.title }}">Loading form...</iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}