{% extends 'base.html' %}
{% load static%}
{% block title %}Programs {% endblock %}

{% block content %}
    <div class="container-fluid" style="margin-top:60px;">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="jumbotron bg-white text-center">
                    <h3>Neuroscience Literacy Sessions</h3>
                    <h4>Welcome to NeuroLearners</h4>
                    <h5>FGEN - NeuroLessons</h5>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="card h-100 program-card" style="margin-top:20px;">
                    <div class="card-header bg-success text-white">
                        <h4 class="card-title">What Will I Be Teaching?</h4>
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>What are the parts of the brain?</li>
                            <li>What are the functions of each part of the brain?</li>
                            <li>What are common neurological disorders? Raising awareness on disorders like autism spectrum disorders, epilepsy, etc.</li>
                            <li>Why is learning about the brain important?</li>
                            <li>The brain and its importance in mental health.</li>
                            <li>Fun interactive games: Q&A, and activities where I engage students. E.g. Kahoot and student activities.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-6" style="margin-top:20px;">
                <div class="card h-100 program-card">
                    <div class="card-header bg-success text-white">
                        <h4 class="card-title">What Will Neuroscience Literacy Sessions Look Like?</h4>
                    </div>
                    <div class="card-body">
                        <p><strong>Time:</strong> 30 - 45 minutes</p>
                        <p><strong>Where:</strong> Classroom or gym (preferably anywhere that has a smartboard)</p>
                        <p><strong>Target Audience:</strong> All elementary and junior high students.</p>
                        <p><strong>What:</strong> I will be presenting a slideshow about the brain. There will be fun videos and interactive images. I will give students fun brain colouring sheets/fun brain facts sheets/goody bags to keep at the end of the presentation. I will also do fun brain games with the students to test their knowledge and there may be prizes. E.g. Kahoot, and calling students up for demonstrations!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}