{% extends 'base.html' %}
{% load static %}
{% block title %}Register{% endblock %}

{% block content %}
    <h3 class="text-center">This is the Registration page.</h3>

    <div class="login-container">
        <form class="login-form" method="POST" action="{% url 'account_signup' %}">
            {% csrf_token %}
            <h2>Register</h2>
            {% if form.errors %}
                <div class="alert alert-danger">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p>{{ error|escape }}</p>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <p>{{ error|escape }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="form-group">
                <label for="id_username">Username</label>
                <input type="text" class="form-control" id="id_username" name="username" placeholder="Enter your username" required>
                {% if form.username.errors %}
                    <div class="alert alert-danger">
                        {% for error in form.username.errors %}
                            <p>{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="id_email">Email</label>
                <input type="email" class="form-control" id="id_email" name="email" placeholder="Enter your email" required>
                {% if form.email.errors %}
                    <div class="alert alert-danger">
                        {% for error in form.email.errors %}
                            <p>{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="id_password1">Password</label>
                <input type="password" class="form-control" type="password" id="id_password1" name="password1" placeholder="Enter your password" required>
                <small class="form-text text-muted">
                    Your password must meet the following requirements:
                    <ul>
                        <li>Your password can’t be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can’t be a commonly used password.</li>
                        <li>Your password can’t be entirely numeric.</li>
                    </ul>
                </small>
                {% if form.password1.errors %}
                    <div class="alert alert-danger">
                        {% for error in form.password1.errors %}
                            <p>{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="id_password2">Confirm Password</label>
                <input class="form-control" type="password" id="id_password2" name="password2" placeholder="Confirm your password" required>
                {% if form.password2.errors %}
                    <div class="alert alert-danger">
                        {% for error in form.password2.errors %}
                            <p>{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
        </form>
    </div>
{% endblock %}


{% comment %} {% extends "base.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Sign Up" %}
    {% endelement %}
    {% setvar link %}
        <a href="{{ login_url }}">
        {% endsetvar %}
        {% setvar end_link %}
        </a>
    {% endsetvar %}
    {% element p %}
        {% blocktranslate %}Already have an account? Then please {{ link }}sign in{{ end_link }}.{% endblocktranslate %}
    {% endelement %}
    {% if not SOCIALACCOUNT_ONLY %}
        {% url 'account_signup' as action_url %}
        {% element form form=form method="post" action=action_url tags="entrance,signup" %}
            {% slot body %}
                {% csrf_token %}
                {% element fields form=form unlabeled=True %}
                {% endelement %}
                {{ redirect_field }}
            {% endslot %}
            {% slot actions %}
                {% element button tags="prominent,signup" type="submit" %}
                    {% trans "Sign Up" %}
                {% endelement %}
            {% endslot %}
        {% endelement %}
    {% endif %}
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
{% endblock content %} {% endcomment %}
{% comment %} {% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Regsiter{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2>Register</h2>
  <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary">Register</button>
  </form>
</div>
{% endblock %} {% endcomment %}